@font-face {
    font-family: 'Cantarell', sans-serif;
    src: url("https://fonts.googleapis.com/css?family=Cantarell");
}

title {
    font-family: 'Cantarell', sans-serif;
}

head {
    font-family: 'Cantarell', sans-serif;
}

body {
    font-family: 'Cantarell', sans-serif;
}

caption {
    font-family: 'Cantarell', sans-serif;
}